
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.heading,#print{
    margin-left: 20px;
}

#choice,#quantity{
    padding: 5px 10px;
    margin: 10px 20px;
}
#submit,#print{
    padding: 5px 10px;
}
#submit:hover,#print:hover{
    cursor: pointer;
}

#list_item,#item_quantity{
    width: 100px;
    margin-right: 20px;
}

.first{
    display: inline-block;
}
#item_quantity{
    list-style: none;
}

h3{
    margin-left: 20px;
}
li{
    margin: 10px 0px;
}